html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: rgb(253, 225, 0);
}

a {
    text-decoration: none !important;
}


details.w3-codespan {
    cursor: pointer;
}

.public-keys details > p {
    opacity: 0;
    transition: sweep 0.25s ease-out;
    overflow-wrap: break-all; 
    word-break: break-all;
}

.public-keys details[open] > p {
    opacity: 1;
    animation: sweep 0.25s ease-in;

}


@keyframes sweep {
    0% {
        opacity: 0;
        /* margin-left: -10px */
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}

.w3-codespan{
    background-color:#f4f4f4 
}

h1 {
  background-color: rgba(61, 61, 61, 0.466);
  padding: 0 15px;
  width: 100%;
}

h3 {
    font-size:18px; 
}
