html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: rgb(253, 225, 0);
}

a {
    text-decoration: none !important;
}


details.w3-codespan {
    cursor: pointer;
}

details[open] summary~* {
    animation: sweep 1s ease-in-out;
}


@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}

.w3-codespan{background-color:#f4f4f4 }